<div class="order-process-container">
  <div class="order-process-content">
    <div class="title">
      How do I order?
    </div>
    <div class="steps">
      <div class="step">
        <div class="btn">Step 1</div>
        <div class="icon">
          <img src="/assets/images/step_address.png" alt="order-process">
        </div>
        <div class="text">Enter Address</div>
      </div>
      <div class="step">
        <div class="btn">Step 2</div>
        <div class="icon">
          <img src="/assets/images/step_place.png" alt="order-process">
        </div>
        <div class="text">Select Store And Place Order</div>

      </div>
      <div class="step">
        <div class="btn">Step 3</div>
        <div class="icon">
          <img src="/assets/images/step_relax.png" alt="order-process">
        </div>
        <div class="text">Sit Back and Relax We Do The Rest!</div>
      </div>
    </div>
    <div class="start-order-btn-container">
      <a class="start-order-btn">START YOUR ORDER NOW</a>
    </div>
  </div>
</div>