<main>
  <div class="clear-all">Clear All</div>

  <div class="ion_web_inline">
    <h1 class="sliebar-headings">Search by</h1>
  </div>

  <form action="" class="search-form">
    <ion-item class="search-input-container">
      <ion-input class="search-input" type="text" placeholder="Restaurants or Cuisine..."></ion-input>
      <div class="search-button">
        <img src="assets/images/search.png" alt="image not found">
      </div>
    </ion-item>
  </form>

  <h1 class="sliebar-headings">Sort by</h1>

  <div class="sort-by-container">
    <input type="radio" name="sort-option" id="sort-name" class="sort-radio" (change)="onSortOptionChange('name')">
    <label for="sort-name" class="sort-by-item">
      <ion-icon name="arrow-down" class="down-icons" *ngIf="selectedSortOption === 'name'"></ion-icon>
      Name
    </label>

    <input type="radio" name="sort-option" id="sort-min-order" class="sort-radio"
      (change)="onSortOptionChange('min-order')">
    <label for="sort-min-order" class="sort-by-item">
      <ion-icon name="arrow-down" class="down-icons" *ngIf="selectedSortOption === 'min-order'"></ion-icon>
      Min.Order</label>

    <input type="radio" name="sort-option" id="sort-distance" class="sort-radio"
      (change)="onSortOptionChange('distance')">
    <label for="sort-distance" class="sort-by-item">
      <ion-icon name="arrow-down" class="down-icons" *ngIf="selectedSortOption === 'distance'"></ion-icon>
      Distance</label>
  </div>

  <h1 class="filter-by-text">Filter by</h1>

  <div class="filter-by-container">
    <h1 class="sliebar-headings">Cuisine</h1>
  </div>

  <!-- <div class="no-active-filters">No active filters</div> -->

  <div class="filter-chip" *ngFor="let category of pickedCategory">
    {{category}}
    <ion-icon name="close" class="close-icon"></ion-icon>
  </div>

  <div *ngFor="let category of showMoreCategories">
    <div class="sort-by-item" (click)="pickCategory(category)"> {{ category }} </div>
  </div>

  <div *ngIf="!categoriesExpanded">
    <p class="more-text" (click)="toggleCategories('more')">
      <a>More</a>
      <ion-icon name="chevron-down" class="dwon-up-icon"></ion-icon>
    </p>
  </div>

  <div *ngIf="categoriesExpanded">
    <p class="more-text" (click)="toggleCategories('less')">
      <a>Less</a>
      <ion-icon name="chevron-up" class="dwon-up-icon"></ion-icon>
    </p>
  </div>

  <div class="preferences-container">
    <h1 class="sliebar-headings">Preferences</h1>
  </div>

  <!-- <div class="no-active-filters">No active filters</div> -->

  <div class="filter-chip" *ngFor="let preference of pickedPreference">
    {{preference}}
    <ion-icon name="close" class="close-icon"></ion-icon>
  </div>

  <div *ngFor="let preference of showMorePreferences">
    <div class="sort-by-item" (click)="pickPreference(preference)"> {{ preference }} </div>
  </div>

  <!-- Show More button when preferences are not expanded -->
  <div *ngIf="!preferencesExpanded">
    <p class="more-text" (click)="togglePreferences('more')">
      <a>More</a>
      <ion-icon name="chevron-down" class="dwon-up-icon"></ion-icon>
    </p>
  </div>

  <!-- Show Less button when preferences are expanded -->
  <div *ngIf="preferencesExpanded">
    <p class="more-text" (click)="togglePreferences('less')">
      <a>Less</a>
      <ion-icon name="chevron-up" class="dwon-up-icon"></ion-icon>
    </p>
  </div>

</main>