.clear-all {
    margin-bottom: 5px;
    font-size: 14px;
    text-decoration: underline;
    text-underline-offset: 1px;
    width: 100%;
    text-align: end;
    cursor: pointer;
}

.ion_web_inline {
    display: flex;
    justify-content: space-between;
}

.sliebar-headings {
    color: var(--ion-color-secondary);
    font-weight: 600;
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 1.2;
}

.search-form {
    margin: 0;
    font: inherit;
    color: inherit;
}

.search-input-container {
    --padding-start: 0;
}

.search-input {
    border: 1px solid #595F67;
    border-radius: 8px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    margin: 0;
    --padding-start: 15px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --placeholder-color: #6B7280;
    --placeholder-opacity: 1;
    --placeholder-font-style: italic;
    --placeholder-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    --placeholder-letter-spacing: 0.025em;
    --color: #595f67;
}

.search-button {
    display: flex;
    justify-content: center;
    padding: 7px 10px;
    right: 10px;
    border: 1px solid var(--ion-color-secondary);
    background: var(--ion-color-secondary);
    position: absolute;
    height: 98%;
    border-radius: 0 8px 8px 0;
    z-index: 10;
    cursor: pointer;
}

.sort-by-container {
    height: 12rem;
    overflow: hidden;
}

.sort-radio {
    display: none;
}

.sort-by-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: poppins, sans-serif;
    max-width: 200px;
    cursor: pointer;
    box-shadow: 0 3px 8px #a6adc933;
    font-size: 16px;
    padding: 5px 20px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #545454;
    border: 1px solid #545454;
    background: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    --padding-top: 35px;
    --padding-bottom: 35px;
    --padding-start: 25px;
    --padding-end: 25px;
    -overflow: auto;
    transition: all 0.3s ease;
}

.sort-by-item:hover {
    opacity: .6;
    max-width: 200px;
    box-shadow: 0 3px 8px #a6adc933;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 20px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #545454;
    border: 1px solid #545454;
    background: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sort-radio:checked+.sort-by-item {
    color: #fff;
    background: var(--ion-color-primary);
    border: 1px solid var(--ion-color-primary);
    max-width: 200px;
}

.sort-radio:checked+.sort-by-item:hover {
    background: #7c7c7c;
    border: 1px solid #7c7c7c;
}

.filter-by-text {
    font-weight: 700;
    font-size: xx-large;
    color: var(--ion-color-secondary);
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.2;
}

.filter-by-container {
    display: flex;
    justify-content: space-between;
}

.no-active-filters {
    font-size: larger;
    margin: 0 8px 8px;
}

.preferences-container {
    display: flex;
    justify-content: space-between;
}

.more-text {
    cursor: pointer;
    width: 100%;
    text-align: center !important;
    text-decoration: underline !important;
}

a {
    background-color: transparent;
    color: var(--ion-color-secondary);
}

.dwon-up-icon {
    margin-left: 3px;
}

.down-icons {
    color: #ffffff;
    font-size: 28px;
}

.filter-chip {
    width: 130px;
    background-color: var(--ion-color-secondary);
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.close-icon {
    font-size: 16px;
    position: absolute;
    right: 6px;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #545454 !important;
}

.clear {
    margin-bottom: 5px;
    font-size: 14px;
    text-decoration: underline;
    text-underline-offset: 1px;
    margin-top: 24px;
    cursor: pointer;
}