.clear-all {
    margin-bottom: 5px;
    font-size: 14px;
    text-decoration: underline;
    text-underline-offset: 1px;
    width: 100%;
    text-align: end;
    cursor: pointer;
}

.ion_web_inline {
    display: flex;
    justify-content: space-between;
}

.search-by-text {
    color: var(--ion-color-secondary);
    font-weight: 700;
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 1.2;
}

.search-form {
    margin: 0;
    font: inherit;
    color: inherit;
}

.search-input-container {
    --padding-start: 0;
}

.search-input {
    --padding-start: 0;
    border-radius: 8px;
    border: 1px solid #595F67;
    font-size: 14px;
    font-style: italic;
    margin: 0;
    --padding-end: 10px;
    --padding-bottom: 10px;
}

.search-button {
    display: flex;
    justify-content: center;
    padding: 7px 10px;
    right: 10px;
    border: 1px solid var(--ion-color-secondary);
    background: var(--ion-color-secondary);
    position: absolute;
    height: 98%;
    border-radius: 0 8px 8px 0;
    z-index: 10;
    cursor: pointer;
}

.sort-by-text {
    color: var(--ion-color-secondary);
    font-weight: 700;
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 1.2;
}

.sort-by-container {
    height: 11rem;
    overflow: hidden;
}

.sort-by-item {
    cursor: pointer;
    box-shadow: 0 3px 8px #a6adc933;
    font-size: 16px;
    padding: 5px 20px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #545454;
    border: 1px solid #545454;
    background: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}