<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
<!-- Main Heading -->
<ion-grid class="">

  <ion-row>
    <ion-col size="1" class=""></ion-col>
    <ion-col size="6">
      <ion-row>
        <ion-col size="11" class="searchbox">
          <ion-row>
            <ion-col size="12">
              <div class="welcome-text">Welcome to Food Yard</div>
              <div class="header-tagline">HEADER TAG LINE</div>
              <div class="mainheading">Delivery & Takeout</div>
              <div class="" style="width: 50%;">
                <!-- segment button -->
                <ion-segment [(ngModel)]="segmentValue1" name="segmentValue1" class="segment-container">
                  <ion-segment-button value="segment" class="segment-button">
                    <ion-label class="segment-label">Delivery</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="buttons" class="segment-button">
                    <ion-label class="segment-label">Takeout</ion-label>
                  </ion-segment-button>
                </ion-segment>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="5" class=""></ion-col>
  </ion-row>
</ion-grid>