.footer-bg {
    background-color: var(--ion-color-footer-bg);
}

.content {
    padding: 4em 6em;
}

.call-info {
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.call-info-text {
    margin: 0;
    color: var(--ion-color-primary);
    font-weight: 600;
    font-size: 16px;
    padding-left: 14px;
}

.contect-no {
    color: #fff !important;
    font-weight: 700;
    padding-left: 14px;
    margin: 4px 0 0;
    font-size: 22px;
    cursor: pointer;
}

.call-icon {
    font-size: 60px;
    color: var(--ion-color-primary) !important;
}

.divider {
    width: 100%;
    background: #3A3939;
    height: 2px;
    margin-top: 2em;
}

.footer-grid {
    margin-top: 2em;
}

.links {
    display: flex;
    font-size: 16px;
    color: #fff;
}

.title-without-padding {
    color: #7c7c7c;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: .8em;
}

.title {
    color: #7c7c7c;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: .8em;
    padding-left: 35px;
}

.address {
    font-family: 'Poppins', sans-serif;
}

.order-list {
    padding: 0px;
    margin: 0px;
}

.order-list-without-padding {
    padding-top: 0px;
    margin: 0px;
}

ul li {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

ul li a {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
}

ul li a:hover {
    text-decoration: underline;
    color: var(--ion-color-primary);
}

.social-icon {
    height: 40px;
    margin-right: 10px;
}

.copyright {
    padding: 2em 3em;
    color: #fff;
    background: #1D1D1D;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.copyright-text {
    font-size: 15px;
}

.footer-logo {
    width: auto;
    height: 40px;
    vertical-align: middle;
}

.branding-cintainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.delivery-logic {
    font-size: 15px;
    margin-bottom: 4px;
}

.reward-points {
    color: #ffffff !important;
    text-decoration: none !important;
}

.reward-points:hover {
    cursor: pointer !important;
    text-decoration: underline !important;
}