<ion-footer class="footer-bg">
  <div class="content">
    <div class="call-info">
      <div style="display: flex;">
        <ion-icon class="call-icon" name="headset-outline"></ion-icon>
        <div style="display: grid; align-items: center;">
          <p class="call-info-text">CALL US From: 08:00 AM To: 09:00PM</p>
          <p class="contect-no">(202) 987-0987</p>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <ion-grid class="footer-grid">
      <ion-row class=" ">
        <ion-col size="1" class=""></ion-col>
        <ion-col size="2" class="title">Useful Links</ion-col>
        <ion-col size="2" class="title">More</ion-col>
        <ion-col size="2" class="title">Address</ion-col>
        <ion-col size="2" class="title">Delivery Hours</ion-col>
        <ion-col size="2" class="title">Follow Us</ion-col>
      </ion-row>

      <ion-row class="links ">
        <ion-col size="1" class=""></ion-col>
        <ion-col size="2" class="">
          <ul class="order-list">
            <li><a href="">Restaurants</a></li>
            <li><a href="">Corporate Account</a></li>
            <li><a href="">Gift Certificates</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Terms of Services</a></li>
            <li><a href="">About Us</a></li>
          </ul>
        </ion-col>
        <ion-col size="2" class="">
          <ul class="order-list">
            <li><a href="">Chat Now</a></li>
            <li><a href="">LinkedIn</a></li>
            <li><a href="">Reservations</a></li>
          </ul>
        </ion-col>
        <ion-col size="2" class="">
          <ul class="order-list">
            <li>17011 <br> Beach <br> Blvd, Suite 676</li>
            <li style="font-size: 22px; margin: 18px 0px 10px; font-weight: 500; line-height: 1.2;">Huntington <br>
              Beach,CA <br> 92647</li>
            <li><a href="info&#64;keiconcepts.info">info&#64;keiconcepts.info</a></li>
          </ul>
        </ion-col>
        <ion-col size="2" class="">
          <ul class="order-list">
            <li>Monday - Friday: 8am - <br> 8pm</li>
            <li>Saturday: 9am - 9pm</li>
          </ul>
        </ion-col>
        <ion-col size="2" class="">
          <ul class="order-list">
            <div>
              <a href="">
                <img class="social-icon" src="assets/images/icon-inst.png" alt="image not found">
              </a>
            </div>
          </ul>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>

<div class="copyright">
  <div class="copyright-text">© 2025 Kei Concept.</div>

  <div class="branding-cintainer">
    <a href="">
      <img class="footer-logo" src="assets/images/footer.jpg" alt="image not found">
    </a>
    <div>
      <div class="delivery-logic">A partner of Deliver Logic’s Instant Delivery Network</div>
      <div class="delivery-logic">Delivery software by DeliverLogic. Explore <a href=""
          class="reward-points">Reward</a>Points.</div>
    </div>
  </div>
</div>