.inner-container {
    display: flex;
    height: 100%;
}

.sidebar-container {
    --padding-top: 35px;
    --padding-bottom: 35px;
    --padding-start: 25px;
    --padding-end: 25px;
    z-index: 100;
    box-shadow: 5px 0 17px -4px #0006;
    width: 360px;
    flex: none;
}

.main-content-container {
    padding-bottom: 0px;
    flex: 5;
}