.inner-container {
    display: flex;
    height: 100%;
}

.sidebar-container {
    --padding-top: 35px;
    --padding-bottom: 35px;
    --padding-start: 25px;
    --padding-end: 25px;
    z-index: 150;
    background: #ffffff;
    box-shadow: none;
    width: 360px;
    flex: none;
}

.main-content-container {
    // padding-top: 35px;
    // padding-left: 25px;
    // padding-right: 25px;
    // padding-bottom: 0px;
    // flex: 5;
}