<ion-toolbar class="order-type-title">
  <ion-title class="order-type-title-text ">
    1. Order Type
  </ion-title>
  <button class="close-button" slot="end">
    <ion-icon name="close" class="close-icon"></ion-icon>
  </button>
</ion-toolbar>

<div class="ion-padding setting-section ">
  <ion-row>
    <ion-col size="12" class="">
      <div class="radio-container ">
        <button class="order-type-button" [ngClass]="{active: ordertype === 'delivery'}"
          (click)="orderType('delivery')">Delivery</button>
        <button class="order-type-button" [ngClass]="{active: ordertype === 'takeout'}"
          (click)="orderType('takeout')">Takeout</button>
      </div>
    </ion-col>
  </ion-row>
</div>

<div class="page-seperator"></div>

<div class="setting-section">
  <h6 class="order_type_label">2. Your Address</h6>

  <ion-row class="address_callout">
    <ion-col size="12">
      <div class="address_input">
        <ion-icon name="location" class="location-icon"></ion-icon>
        <input type="text">
        <button type="button" class="close-button border">
          <ion-icon name="close-circle"></ion-icon>
        </button>
      </div>
    </ion-col>
  </ion-row>

  <p class="fancy">
    <span>or</span>
  </p>

  <button fill="outline" expand="block" class="places-button">
    <div class="places-text">Places</div>
    <div class="places_details">Based/Hotel/School/Workplace/Etc..</div>
  </button>

</div>

<div class="page-seperator"></div>

<div class="ion-padding setting-section">
  <h6 class="date_time_label"> 3. Date/Time </h6>

  <ion-row>
    <ion-col>
      <ion-item class="date-item">
        <ion-label class="date-label ion-text-start">Date</ion-label>
        <ion-label class="date-label ion-text-end">{{date | date:'MM/dd/yyyy'}}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item class="date-item">
        <ion-label class="date-label ion-text-start">Today</ion-label>
        <ion-label class="date-label ion-text-end">Today</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</div>