<div class="container-fluid homecomponent">
  <!-- Main Heading -->
  <div class="row">
    <div class="col-md-12">
      <div class="mainheading">Asian Inspired</div>
      <div class="mainheading">Eats</div>
    </div>
  </div>

  <!-- Radio Button -->
  <div class="row">
    <div class="col-md-3">
      <div class="radio-container">
        <input type="radio" id="delivery" name="order" value="delivery" />
        <label for="delivery">Delivery</label>

        <input type="radio" id="takeout" name="order" value="takeout" checked />
        <label for="takeout">Takeout</label>
      </div>
    </div>
  </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />




  <!-- Logo -->
  <!-- <div class="row mt-4 ms-2">
    <div class="col-md-12">
      <div class="logoparent">
        <img src="Logo (1).png" alt="Image Not Found" />
      </div>
    </div>
  </div> -->