<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
/>

<!-- Slider Component -->
<app-slider></app-slider>

<div class="container-fluid homecomponent">
  <!-- Main Heading -->
  <div class="row">
    <div class="col-md-12">
      <div class="mainheading">Asian Inspired</div>
      <div class="mainheading">Eats</div>
    </div>
  </div>

  <!-- Radio Button -->
  <div class="row">
    <div class="col-md-3">
      <div class="radio-container">
        <input type="radio" id="delivery" name="order" value="delivery" />
        <label for="delivery">Delivery</label>

        <input type="radio" id="takeout" name="order" value="takeout" checked />
        <label for="takeout">Takeout</label>
      </div>
    </div>
  </div>

  <!-- Street Search Input -->
  <div class="row mt-2">
    <div class="col-md-4">
      <div class="parentsearch">
        <span class="icon">
          <!-- <i class="fa-solid fa-location-dot"></i> -->
          <i class="fa-solid fa-location-dot fa-lg iconcolor"></i>
        </span>
        <input
          class="form-control searchinput"
          list="datalistOptions"
          id="exampleDataList"
          placeholder="Street Address"
        />
      </div>
    </div>
    <div class="col-md-2 mt-2 ms-1 p-0">
      <!-- Go Button -->
      <button type="button" class="btn btn-light px-4 py-2 gobutton">
        GO!
      </button>
    </div>
  </div>

  <div class="row justify-content-start my-2">
    <div class="col-5">
      <div class="hr-with-text">
        <span>or</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div class="searchinput m-0 p-0">
        <div class="text-center" style="line-height: 0p">places</div>
        <div class="text-center">pLaces</div>
      </div>
    </div>
  </div>

  <!-- Container End -->
</div>
