<div class="retail-card-container">
  <div class="swiper-wrapper">
    <div class="card-container ">
      <div class="card-image ">
        <img src="/assets/images/present.png" alt="image not found">
      </div>
      <div class="card-content">
        <div class="title">
          Retail Test Card
        </div>
        <div class="description">
          No description here
        </div>
        <div class="retail-card-btn-container">
          <ion-button class="retail-card-btn">RETAIL</ion-button>
        </div>
      </div>
    </div>
  </div>
</div>