<!-- Slider first -->
<app-landingslider></app-landingslider>

<!-- Navbar on top of slider -->
<app-navbar></app-navbar>

<!-- Content section -->
<div class="content-section">
  <h4>kjhnauidsehiuashdu</h4>
  <p>lkashnuihnaisuhbui8ibuy8uvy8wuey8uey87qya8f7ewy87wy87fye8w7y8 c77y8c7 y8wquyc8e 7qwyc8 ycqe8ycy q98e Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus nobis laudantium voluptatibus mollitia voluptatem velit quos, ducimus fugit ipsam molestias incidunt amet eos repudiandae rerum voluptates eum beatae vero accusamus sunt quisquam laborum inventore sit? Doloribus consectetur vel voluptate ipsum!</p>
</div>