<ion-content>
   <!-- Slider first -->
   <app-landingslider></app-landingslider>

   <!-- Navbar on top of slider -->
   <app-navbar></app-navbar>

   <!-- Searchbarbox -->
   <div class="searchbox">
      <app-searchbarbox></app-searchbarbox>
   </div>

   <app-landing-banner></app-landing-banner>
   <app-resturants-slider></app-resturants-slider>
   <app-landing-cards></app-landing-cards>
   <app-landing-orderprocess></app-landing-orderprocess>
   <app-landing-retailcard></app-landing-retailcard>
</ion-content>