.banner-container {
    padding: 40px 75px;
}

.banner-image {
    padding: 32px;
}

.heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    margin-top: 10px;
}

.subheading {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
}

.store-image {
    width: 25%;
    margin-top: 20px;
    margin-right: 30px;
    cursor: pointer;
}