<ion-grid>
  <ion-row class="banner-container">
    <ion-col size="6">
      <img class="banner-image" src="assets/images/Mobile App.webp" alt="Landing Banner">
    </ion-col>
    <ion-col size="6" class="ion-text-center ion-text-md-left ion-align-self-center pad-2 ios hydrated">
      <div class="heading">
        It's all here. <br>
        All in one app. test
      </div>
      <div class="subheading">
        Explore the most popular <br>
        cuisines available for delivery in your <br>
        neighborhood!
      </div>
      <div class="">
        <img class="store-image" src="assets/images/download-gplay.png" alt="Landing Banner">
      </div>
    </ion-col>
  </ion-row>
</ion-grid>