<ion-grid>
  <ion-row>
    <ion-col size="12">
      <div class="ion-text-center ion-padding">
        <div class="title">Fast - Easy - Test - Test 2</div>
        <div>
          <swiper-container [modules]="swiperModules" slides-per-view="10" autoplay-delay="1000"
            autoplay-disable-on-interaction="false" autoplay="true" loop="true" space-between="10">
            <swiper-slide>
              <img class="" src="assets/images/resturant-slide-1.png" alt="image not found">
            </swiper-slide>
            <swiper-slide>
              <img src="assets/images/resturant-slide-2.jpg" alt="image not found">
            </swiper-slide>
            <swiper-slide>
              <img src="assets/images/resturant-slide-3.png" alt="image not found">
            </swiper-slide>
            <swiper-slide>
              <img src="assets/images/resturant-slide-4.jpg" alt="image not found">
            </swiper-slide>
            <swiper-slide>
              <img src="assets/images/resturant-slide-5.jpg" alt="image not found">
            </swiper-slide>
            <swiper-slide>
              <img src="assets/images/resturant-slide-6.png" alt="image not found">
            </swiper-slide>
            <swiper-slide>
              <img src="assets/images/resturant-slide-1.png" alt="image not found">
            </swiper-slide>
            <swiper-slide>
              <img src="assets/images/resturant-slide-2.jpg" alt="image not found">
            </swiper-slide>
            <swiper-slide>
              <img src="assets/images/resturant-slide-3.png" alt="image not found">
            </swiper-slide>
            <swiper-slide>
              <img src="assets/images/resturant-slide-4.jpg" alt="image not found">
            </swiper-slide>
            <swiper-slide>
              <img src="assets/images/resturant-slide-5.jpg" alt="image not found">
            </swiper-slide>
            <swiper-slide>
              <img src="assets/images/resturant-slide-6.png" alt="image not found">
            </swiper-slide>
            <swiper-slide>
              <img src="assets/images/resturant-slide-1.png" alt="image not found">
            </swiper-slide>
            <swiper-slide>
              <img src="assets/images/resturant-slide-2.jpg" alt="image not found">
            </swiper-slide>
            <swiper-slide>
              <img src="assets/images/resturant-slide-3.png" alt="image not found">
            </swiper-slide>
            <swiper-slide>
              <img src="assets/images/resturant-slide-4.jpg" alt="image not found">
            </swiper-slide>
            <swiper-slide>
              <img src="assets/images/resturant-slide-5.jpg" alt="image not found">
            </swiper-slide>
            <swiper-slide>
              <img src="assets/images/resturant-slide-6.png" alt="image not found">
            </swiper-slide>
          </swiper-container>
        </div>
        <ion-button class="view-all-resturants-button">VIEW ALL RESTURANTS</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>