<div class="landing-slider-container">
  <swiper-container slides-per-view="1" autoplay-delay="5000" autoplay-disable-on-interaction="false" effect="fade"
    [modules]="swiperModules" class="landing-swiper">
    <swiper-slide>
      <img src="assets/images/slider1.webp" alt="image not found">
    </swiper-slide>
    <swiper-slide>
      <img src="assets/images/slider2.webp" alt="image not found">
    </swiper-slide>
    <swiper-slide>
      <img src="assets/images/slider3.webp" alt="image not found">
    </swiper-slide>
    <swiper-slide>
      <img src="assets/images/slider4.webp" alt="image not found">
    </swiper-slide>
  </swiper-container>
</div>