<!-- <div class="content" >

  <ion-content class="content-container">
    <div class="background-content"></div>
    <main class="inner-scroll">

    </main>
  </ion-content>

</div>
<div class="location-input-container-wrapper">
  <div class="location-input-container">
    <div class="location-input">
      <span></span>
      <span class="address-label">takeout > ASAP, 09/02</span>
    </div>
  </div>
</div>

<p class="shareableLink">Share this easy ordering link with friends</p>

<div class="restaurants-available">
 <h1 class="restaurants_page_heading">10 Restaurants Available</h1>
</div> -->

<main class="inner-scroll border">
  helo i ma here to test you
</main>