.main {
    display: block;
    unicode-bidi: isolate;
    height: 100%;
    overflow: hidden;
    width: 100%;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    z-index: 100;
    will-change: scroll-position;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    color: #000;
    box-sizing: border-box;
    touch-action: pan-x pan-y pinch-zoom;
    background: #ffffff;
}

.inner-scroll-content {
    width: 100%;
    z-index: 100;
    position: relative;
}

.toolbar-container {
    margin-top: 20px;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: var(--min-height);
    contain: content;
    overflow: hidden;
    z-index: 110;
    box-sizing: border-box;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 100;
    position: relative;
}

.location-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-input {
    position: relative;
    border: 1px solid #CACACA;
    border-radius: 8px;
    padding: 7px 25px 7px 20px;
    font-size: 15px;
    box-shadow: 0 3px 8px #a6adc933;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.location-input:hover {
    background: rgb(243, 243, 243);
}

.address-label {
    padding-right: 3px;
}

.shareableLink {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: var(--ion-color-primary);
}

.shareableLink:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--ion-color-secondary);
}

.restaurants-available-heading {
    font-weight: 600;
    margin-top: 20px;
    font-size: 24px;
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.2;
}

.restaurant-info {
    padding: 1rem;
}

.card-container {
    margin: 0 0 10px;
    padding: 0 !important;
    border-radius: 5px;
    border-bottom: 1px solid rgba(153, 153, 153, .4);
    cursor: pointer;
    position: relative;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}

.card-container:hover {
    background-color: #c1c1c1;
}

.card-image {
    height: 10rem;
    width: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 5px 5px 0 0;
}

.item-content {
    padding: 1rem;
}

.resturant-card {
    font-size: 1.6rem !important;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1px;
    font-size: 1.6rem !important;
    max-width: 80%;
    font-weight: 600;
    line-height: 1.2;
}

.description {
    color: #666666;
    font-size: 14px;
}

.info {
    display: flex;
    margin-top: 2px;
    font-size: 14px;
    color: #666666;
}

.time-container {
    display: flex;
}

.time-icon {
    color: rgb(102 102 102);
    margin-right: 4px;
}

.distance-container {
    display: flex;
}

.location-icon {
    color: rgb(102 102 102);
    margin-right: 4px;
}